{% load static %}

<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <a href="/product/prophet-6/">
                        <div class="banner__item__pic">
                            <img src="{% static 'img/banner/banner2.jpg' %}" alt="">
                        </div>
                    </a>
                    <div class="banner__item__text">
                        <a href="/product/prophet-6/"><h2>Prophet 6</h2></a>
                        <a class="banner__item__a" href="/product/prophet-6/">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <a href="/product/po-128/">
                        <div class="banner__item__pic">
                            <img src="{% static 'img/banner/banner1.jpg' %}" alt="">
                        </div>
                    </a>
                    <div class="banner__item__text">
                        <a href="/product/po-128/"><h2>PO-128 Mega Man</h2></a>
                        <a class="banner__item__a" href="/product/po-128/">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <a href="/product/taurus-iii/">
                        <div class="banner__item__pic">
                            <img src="{% static 'img/banner/banner3.jpg' %}" alt="">
                        </div>
                    </a>
                    <div class="banner__item__text">
                        <a href="/product/taurus-iii/"><h2>Taurus</h2></a>
                        <a class="banner__item__a" href="/product/taurus-iii/">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>