{% load static %}

<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>Sintes<br /> <span>Colección Vox</span> <br /> Clásicos</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <a href="/product/vox-continental/">
                        <img src="{% static 'img/product.png' %}" alt="">
                    </a>
                    <div class="hot__deal__sticker">
                        <span>Rebaja</span>
                        <h5>999.99 €</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Oferta del mes</span>
                    <a href="/product/vox-continental/">
                        <h2>Vox Continental V</h2>
                    </a>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span></span>
                            <p>Días</p>
                        </div>
                        <div class="cd-item">
                            <span></span>
                            <p>Horas</p>
                        </div>
                        <div class="cd-item">
                            <span></span>
                            <p>Minutos</p>
                        </div>
                        <div class="cd-item">
                            <span></span>
                            <p>Segundos</p>
                        </div>
                    </div>
                    <a href="/product/vox-continental/" class="primary-btn">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</section>