{% load static %}

<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Synths Everywhere</h6>
                            <h2>Analogs & Digitals</h2>
                            <p>Ethically crafted with an unwavering
                            commitment to exceptional quality.</p>
                            <a href="{% url 'core:shop' %}?category=synthesizers" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <!-- <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Are you Pocket?</h6>
                            <h2>We got all POs</h2>
                            <p>A specialist label creating luxury essentials.</p>
                            <a href="{% url 'core:shop' %}?category=pocket-operators" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <!-- <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>