{% load static %}

<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Sintes y más...</h6>
                            <h2>Análogos & Digitales</h2>
                            <p>Elaborados éticamente, compromiso con la calidad excepcional.</p>
                            <a href="{% url 'core:shop' %}?category=synthesizers" class="primary-btn">Comprar <span class="arrow_right"></span></a>
                            <!-- <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>¿Prefieres de bolsillo?</h6>
                            <h2>Los tenemos todos</h2>
                            <p>Una verdadera herramienta de bolsillo.</p>
                            <a href="{% url 'core:shop' %}?category=pocket-operators" class="primary-btn">Comprar <span class="arrow_right"></span></a>
                            <!-- <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>