{% load static %}

{% get_categories as all_categories %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="{% static 'img/payment.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Tienda</h6>
                    <ul>
                        {% for category in all_categories %}
                            <li data-filter=".{{category.slug}}"><a href="#">{{ category.name }}</a></li>
                        {% endfor %}                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Sitio</h6>
                    <ul>
                        <li class="{% if request.path == '/blog/' %}active{% endif %}"><a href="{% url 'blog:list' %}">Blog</a></li>
                        <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'core:contact' %}">Contacto</a></li>
                        <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url 'core:about' %}">Nosotros</a></li>
                        <li class="{% if request.path == '/shop/' %}active{% endif %}"><a href="{% url 'core:shop' %}">Tienda</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Novedades</h6>
                    <div class="footer__newslatter">
                        <p>¡Sé el primero en enterarte de nuestras novedades!</p>
                        <form novalidate>
                            <div class="newsletter-message" id="newsletter-message">🎹 Gracias por suscribirte.</div>
                            <input type="text" id="newsletter_email" name="newsletter_email" placeholder="Correo">
                            <button type="submit" id="newsletter_btn"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <p>Hemiola ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


{% block extra_scripts %}

<script>
    (function() {

        const subscribe_newsletter_url = "{% url 'core:subscribe_newsletter' %}"
        const newsletter_btn = document.getElementById("newsletter_btn");

        newsletter_btn.addEventListener("click", function(event) {
            event.preventDefault()

            // TODO: spinner

            const email_input = document.getElementById("newsletter_email")
            const email = email_input.value

            if(email === ""){
                email_input.classList.add("input-error");
            }else{
                email_input.classList.remove("input-error");
            }
            
            if(email){
                fetch(subscribe_newsletter_url, {
                    credentials: 'include',
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        email
                    })
                }).then(
                    response => response.json()
                ).then(function(data) {
                    if(data.success){
                        console.log("OK")
                        email_input.value = ""

                        document.getElementById("newsletter_email").style.display = "none";
                        document.getElementById("newsletter_btn").style.display = "none";
                        document.getElementById("newsletter-message").style.display = "block";
                    }else{
                        console.log("NOTOK")
                        // TODO: success message
                    }          
                })      
            }
        })
    })()
</script>

{% endblock extra_scripts %}