{% load static %}

{% cart_item as cart %}

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'account_login' %}">Log in</a>
                <a href="{% url 'account_signup' %}">Sign in</a>
            {% endif %}         
        </div>
        <!-- <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div> -->
    </div>
    <div class="offcanvas__nav__option">
        <a href="" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
        <!-- <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a> -->
        <a href="{% url 'core:order-summary' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> 
            <span>{{ cart.count }}</span>
        </a>
        <div class="price">{{ cart.total | currency }}</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Envíos gratis y garantía de devolución de hasta 30 días.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Envíos gratis y garantía de devolución de hasta 30 días.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            {% if user.is_authenticated %}
                                <a href="{% url 'account_logout' %}">Log out</a>
                            {% else %}
                                <a href="{% url 'account_login' %}">Log in</a>
                                <a href="{% url 'account_signup' %}">Sign in</a>
                            {% endif %}         
                        </div>
                        <!-- <div class="header__top__hover">
                            <span>Usd <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li>USD</li>
                                <li>EUR</li>
                                <li>USD</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="{% url 'core:home' %}"><img src="{% static 'img/logo-tienda.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'core:home' %}">Home</a></li>
                        <li class="{% if request.path == '/shop/' %}active{% endif %}"><a href="{% url 'core:shop' %}">Tienda</a></li>
                        <li class="{% if request.path == '/blog/' %}active{% endif %}"><a href="{% url 'blog:list' %}">Blog</a></li>
                        <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'core:contact' %}">Contacto</a></li>
                        <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url 'core:about' %}">Nosotros</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch">
                        <img src="{% static 'img/icon/search.png' %}" alt="">
                    </a>
                    <!-- <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a> -->
                    <a href="{% url 'core:order-summary' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> 
                        <span>{{ cart.count }}</span>
                    </a>
                    <div class="price">{{ cart.total | currency }}</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>