{% extends "base/base.html" %}

{% load static %}

{% block content %}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Nosotros</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'core:home' %}">Inicio</a>
                        <span>Nosotros</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="{% static 'img/about/about-us.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>¿Quiénes somos?</h4>
                    <p>Contextual advertising programs sometimes have strict policies that need to be adhered too.
                    Let’s take Google as an example.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>¿Qué hacemos?</h4>
                    <p>In this digital generation where information can be easily obtained within seconds, business
                    cards still have retained their importance.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>¿Por qué elegirnos?</h4>
                    <p>A two or three storey house is the ideal way to maximise the piece of earth on which our home
                    sits, but for older or infirm people.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>“La gente dice que nosotros nos tomamos las cosas muy en serio, pero es la única forma en la cual llegas a algún lugar.”
                    </p>
                    <div class="testimonial__author">
                        <div class="testimonial__author__pic">
                            <img src="{% static 'img/about/testimonial-author.jpg' %}" alt="">
                        </div>
                        <div class="testimonial__author__text">
                            <h5>Thomas Edward Yorke</h5>
                            <p>Tchock</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="{% static 'img/about/testimonial-pic.jpg' %}"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Client Section Begin -->
<section class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Nuestras Marcas</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="https://teenage.engineering/" class="client__item" target="_blank"><img src="{% static 'img/clients/client-1.png' %}" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="https://www.moogmusic.com/" class="client__item" target="_blank"><img src="{% static 'img/clients/client-2.png' %}" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="https://www.korg.com/es/" class="client__item" target="_blank"><img src="{% static 'img/clients/client-3.png' %}" alt=""></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="https://www.sequential.com/" class="client__item" target="_blank"><img src="{% static 'img/clients/client-4.png' %}" alt=""></a>
            </div>            
        </div>
    </div>
</section>

{% endblock content %}