{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">

                        <h6 class="checkout__title">Envío</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Nombre<span>*</span></p>
                                    {{ form.shipping_first_name }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Apellidos<span>*</span></p>
                                    {{ form.shipping_last_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="checkout__input">
                                    <p>País<span>*</span></p>
                                    {{ form.shipping_country }}                            
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkout__input">
                                    <p>Teléfono<span>*</span></p>
                                    {{ form.shipping_phone }}
                                </div>
                            </div>
                        </div>                        
                        <div class="checkout__input">
                            <p>Dirección<span>*</span></p>
                            {{ form.shipping_address }}
                            {{ form.shipping_address2 }}
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="checkout__input">
                                    <p>Ciudad<span>*</span></p>
                                    {{ form.shipping_city }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkout__input">
                                    <p>Código Postal<span>*</span></p>
                                    {{ form.shipping_zip }}
                                </div>
                            </div>
                        </div>                        

                        <h6 class="checkout__title">Facturación</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Nombre<span>*</span></p>
                                    {{ form.billing_first_name }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Apellidos<span>*</span></p>
                                    {{ form.billing_last_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="checkout__input">
                                    <p>País<span>*</span></p>
                                    {{ form.billing_country }}                            
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkout__input">
                                    <p>Teléfono<span>*</span></p>
                                    {{ form.billing_phone }}
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Dirección<span>*</span></p>
                            {{ form.billing_address }}
                            {{ form.billing_address2 }}
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="checkout__input">
                                    <p>Ciudad<span>*</span></p>
                                    {{ form.billing_city }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkout__input">
                                    <p>Código Postal<span>*</span></p>
                                    {{ form.billing_zip }}
                                </div>
                            </div>
                        </div>
                        
                        {% if not user.is_authenticated %}
                        <div class="checkout__input__checkbox">
                            <label for="acc">
                                ¿Crear una cuenta?
                                <input type="checkbox" id="acc">
                                <span class="checkmark"></span>
                            </label>
                            <p>Crea una cuenta para futuras compras o inicia sesión si ya tienes una.</p>
                        </div>
                        <div class="checkout__input">
                            <p>Contraseña<span>*</span></p>
                            <input type="text">
                        </div>                        
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Tu orden</h4>
                            <div class="checkout__order__products">Producto <span>Total</span></div>
                            <ul class="checkout__total__products">
                                {% for order_item in order.items.all %}
                                    <li>{{ forloop.counter }}. {{ order_item.item.title }} 
                                        {% if order_item.item.discount_price %}
                                            <span>{{ order_item.item.discount_price | currency }}</span>
                                        {% else %}
                                            <span>{{ order_item.item.price | currency }}</span>
                                        {% endif %}
                                    </li>                               
                                {% endfor %}  
                            </ul>
                            <ul class="checkout__total__all">
								<li>Sub Total <span>{{ order.get_sub_total | currency }}</span></li>
								{% if order.coupon %}
									<li class="text-success">Promo <span class="text-success">-{{ order.coupon.amount | currency }}</span></li>
								{% endif %}  
                                <li>Total <span>{{ order.get_total | currency }}</span></li>
                            </ul>
                            <!-- <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Check Payment
                                    <input type="checkbox" id="payment">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    Paypal
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div> -->
                            <button type="submit" class="site-btn">PAGAR</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}
<script>
  var hideable_shipping_form = $("#hideable_shipping_form")
  var hideable_billing_form = $("#hideable_billing_form")

  var use_default_shipping = $("#use_default_shipping")
  var use_default_billing = $("#use_default_billing")

  $(use_default_shipping).on('change', function () {
    if (this.checked) {
      hideable_shipping_form.hide();
    } else {
      hideable_shipping_form.show();
    }
  });

  $(use_default_billing).on('change', function () {
    if (this.checked) {
      hideable_billing_form.hide();
    } else {
      hideable_billing_form.show();
    }
  });

</script>

{% endblock extra_scripts %}