{% extends "base/base.html" %}

{% block content %}

<div class="map">
    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Calle%20Lanuza%2032,%20M%C3%A1laga+(Hemiola)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
</div>

<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Contacto</span>
                        <h2>Escríbenos</h2>
                        <p>Si necesitas información sobre alguno de nuestros productos o tienes cualquier otra duda, contáctanos y te responderemos lo antes posible.</p>
                    </div>
                    <ul>
                        <li>
                            <h4>España</h4>
                            <p>Calle Lanuza 32, Málaga. <br />+34 678 159 962</p>
                        </li>
                        <li>
                            <h4>Chile</h4>
                            <p>Julio Covarrubias 10175, Santiago. <br />+569 9 887 01 47</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form novalidate>
                        
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" id="name" placeholder="Nombre">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="subject" id="subject" placeholder="Asunto">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="content" id="content" placeholder="Mensaje"></textarea>
                                <div class="contact-message" id="message">🎹 Tu mensaje ha sido enviado, muy pronto te responderemos.</div>
                                <button type="submit" class="site-btn" id="send">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_scripts %}

<script>
	
	(function() {

    const send_email_url = "{% url 'core:send_email' %}"
    const send_btn = document.getElementById("send");

    send_btn.addEventListener("click", function(event) {
      event.preventDefault()
      document.getElementById("message").style.visibility = "hidden";

      // TODO: spinner
			
      const name_input = document.getElementById("name")
      const name = name_input.value

      const email_input = document.getElementById("email")
      const email = email_input.value

      const subject_input = document.getElementById("subject")
      const subject = subject_input.value

      const content_input = document.getElementById("content")
      const content = content_input.value
      
      if(email === ""){
        email_input.classList.add("input-error");
      }else{
        email_input.classList.remove("input-error");
      }
      if(subject === ""){
        subject_input.classList.add("input-error");        
      }else{
        subject_input.classList.remove("input-error");
      }
      if(content === ""){
        content_input.classList.add("input-error");
      }else{
        content_input.classList.remove("input-error");
      }

      if(email && subject && content){
        fetch(send_email_url, {
          credentials: 'include',
          method: 'POST',
          headers: {
            "X-CSRFToken": getCookie("csrftoken"),
            "Accept": "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            name, 
            email,
            subject,
            content
          })
        }).then(
          response => response.json()
        ).then(function(data) {
          if(data.success){
            console.log("OK")
            name_input.value = ""
            email_input.value = ""
            subject_input.value = ""
            content_input.value = ""

            document.getElementById("message").style.visibility = "visible";
          }else{
            console.log("NOTOK")
            // TODO: success message
          }          
        })      
      }

		})

  })()
	
</script>

{% endblock extra_scripts %}