{% extends "base/base.html" %}

{% block content %}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Mi Carro</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'core:home' %}">Home</a>
                        <a href="{% url 'core:shop' %}">Tienda</a>
                        <span>Mi Carro</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order_item in object.items.all %}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <a href="{{ order_item.item.get_absolute_url }}">
                                            <img src="{{ order_item.item.image.url }}" width="90" alt="">
                                        </a>
                                    </div>
                                    <div class="product__cart__item__text">
                                        <a href="{{ order_item.item.get_absolute_url }}"><h6>{{ order_item.item.title }}</h6></a>
                                        {% if order_item.item.discount_price %}
                                            <h5>{{ order_item.item.discount_price | currency }}</h5>
                                        {% else %}
                                            <h5>{{ order_item.item.price | currency }}</h5>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}">
                                                <span class="fa fa-angle-left dec qtybtn"></span>
                                            </a>

                                            <input type="text" value="{{ order_item.quantity }}">

                                            <a href="{% url 'core:add-single-item-to-cart' order_item.item.slug %}">
                                                <span class="fa fa-angle-right inc qtybtn"></span>
                                            </a>                                            
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">{{ order_item.get_final_price | currency }}</td>
                                <td class="cart__close">
                                    <a href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Tu carro está vacío</td>
                            </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{% url 'core:shop' %}">{% if object.items.count %}Seguir comprando{% else %}Empezar a comprar{% endif %}</a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4">
                {% if object.items.count and not object.coupon %}
                    <div class="cart__discount">
                        <h6>Cupón de descuento</h6>
                        <form action="{% url 'core:add-coupon' %}" method="POST">
                            {% csrf_token %}
                            {{ couponForm.code }}
                            <button type="submit">Aplicar</button>
                        </form>                    
                    </div>
                {% endif %}
                <div class="cart__total">
                    <h6>A pagar</h6>
                    <ul>
                        {% if object.items.count %}
                            <li>Sub Total <span>{{ object.get_sub_total | currency }}</span></li>
                            {% if object.coupon %}
                                <li class="text-success">
                                    Promo {{ object.coupon.code }}<span class="text-success"> -{{ object.coupon.amount | currency }}</span>
                                </li>
                            {% endif %}                            
                        {% endif %}
                        <li>Total <span>{{ object.get_total | currency }}</span></li>
                    </ul>
                    {% if object.items.count %}
                        <a href="{% url 'core:checkout' %}" class="primary-btn">Proceder con el pago</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}