{% extends "base/base.html" %}

{% load static %}

{% block content %}

{% get_related_items object as related_items %}

<section class="shop-details">
	<div class="product__details__pic">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="product__details__breadcrumb">
						<a href="{% url 'core:home' %}">Inicio</a>
						<a href="{% url 'core:shop' %}">Tienda</a>
						<span>{{ object.title }}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<ul class="nav nav-tabs" role="tablist">
						{% if object.album %}
							{% for image in object.album.images.all %}
							<li class="nav-item">
								<a class="nav-link{% if forloop.first %} active{% endif %}" data-toggle="tab" href="#image-{{ image.id }}" role="tab">
									<div class="product__thumb__pic set-bg" data-setbg="{{ image.image.url }}">
									</div>
								</a>
							</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
				<div class="col-lg-6 col-md-9">
					<div class="tab-content">
						{% if object.album %}
							{% for image in object.album.images.all %}
								<div class="tab-pane{% if forloop.first %} active{% endif %}" id="image-{{ image.id }}" role="tabpanel">
									<div class="product__details__pic__item">
										<img src="{{ image.image.url }}" alt="">																				
									</div>
								</div>								
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product__details__content">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-8">
					<div class="product__details__text">
						<h4>{{ object.title }}</h4>
						<div class="rating">
							<!-- <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i> -->
							<span> {{ object.reviews.count }} Reseña{{ object.reviews.count | pluralize }}</span>
						</div>
						
						<h3>
							{% if object.discount_price %}
								{{ object.discount_price | currency }} 
								<span>{{ object.price | currency }}</span>
							{% else %}
								{{ object.price | currency }} 
							{% endif %}
						</h3>

						<div class="product__details__cart__option">
							<div class="quantity">
								<div class="pro-qty">
									<span class="fa fa-angle-up inc qtybtn"></span>
									<input type="text" value="1">
									<span class="fa fa-angle-down dec qtybtn"></span>
								</div>
							</div>
							<a href="{{ object.get_add_to_cart_url }}" class="primary-btn">Agregar al Carro</a>
						</div>
						<!-- <div class="product__details__btns__option">
							<a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
							<a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
						</div>
						<div class="product__details__last__option">
							<h5><span>Guaranteed Safe Checkout</span></h5>
							<img src="{% static 'img/shop-details/details-payment.png' %}" alt="">
							<ul>
								<li><span>SKU:</span> 3812912</li>
								<li><span>Category:</span> {{ object.category.name }}</li>
								<li><span>Tag:</span> Clothes, Skin, Body</li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="product__details__tab">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#info" role="tab">
									Descripción
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">
									Reseñas ({{ object.reviews.count }})
								</a>
							</li>							
						</ul>
						<div class="tab-content row d-flex justify-content-center">		
							<div class="tab-pane active col-lg-10" id="info" role="tabpanel">
								<div class="product__details__tab__content">
									<div class="product__details__tab__content__item">
										<p class="text-center">{{ object.description | linebreaksbr }}</p>
									</div>								
								</div>
							</div>
							<div class="tab-pane" id="reviews" role="tabpanel">
								<div class="product__details__tab__content">
									<div class="row d-flex justify-content-center">

										<div class="col-lg-6">
											<ul class="comment-list">
												{% for review in object.reviews.all %}
													<li class="comment">
														<div class="blog__details__author__pic">
															<img src="{{ review.author_image }}" alt="">
														</div>
														<div class="blog__details__author__text">
															<h5>{{ review.author_name }}</h5>
														</div>
														<div class="comment-body">
															<p>{{ review.content | linebreaks }}</p>
															<div class="meta">{{ review.created_at }}</div>
														</div>
													</li>
												{% endfor %}
											</ul>
										</div></div>
										<div class="row d-flex justify-content-center">
										<div class="col-lg-6 product__review">
											<div class="blog__details__comment">
												<h4>Escribir reseña</h4>
												<form method="POST">
													{% csrf_token %}
													<div class="row">
														{% if not user.is_authenticated %}
															<div class="col-lg-4 col-md-4">
																{{ form.name }}
															</div>
															<div class="col-lg-4 col-md-4">
																{{ form.email }}
															</div>
															<div class="col-lg-4 col-md-4">
																{{ form.website }}
															</div>
														{% endif %}
														<div class="col-lg-12 text-center">
															{{ form.content }}
															<button type="submit" class="site-btn">Enviar</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% if related_items.count %}
	<section class="related spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="related-title">Productos Relacionados</h3>
				</div>
			</div>
			<div class="row">

				{% for related_item in related_items %}
					<div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-href="{{ related_item.get_absolute_url }}" data-setbg="{{ related_item.image.url }}">
								{% if related_item.get_label %}
									<span class="label-{{ related_item.get_label_class }}">
										{{ related_item.get_label }}
									</span>
								{% endif %}						
							</div>
							<div class="product__item__text">
								<h6>{{ related_item.title }}</h6>
								<a href="{{ related_item.get_add_to_cart_url }}" class="add-cart">+ Agregar al Carro</a>
								<!-- <div class="rating">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div> -->
								<h5>
									{% if related_item.discount_price %}
										{{ related_item.discount_price | currency }}
									{% else %}
										{{ related_item.price | currency }}
									{% endif %}
								</h5>						
							</div>
						</div>
					</div>
				{% endfor %}
				
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% endblock content %}